*{box-sizing: border-box;
}

.table{
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
  font-size: 10px;
}

.thead{
    color: white;
    font-weight: bold;
    line-height:30px;
    font-size: 15px;
  }


.p{
  margin-top: 25px;
  margin-bottom: 3px;
  font-size: 25px;
}

.td{
  padding: 10px;
}


.th-1{
  background-color: rgb(96, 126, 182);
  vertical-align: middle;
  border-top-left-radius: 10px;
  
}

.th-2{
  background-color: rgb(102, 94, 155);
}

.th-3{
  background-color: rgb(61, 61, 131);
}

.th-4{
  background-color: rgb(61, 61, 110);
}

.th-5{
  background-color: rgb(75, 75, 126);
  border-top-right-radius: 10px;
}

.button{
  text-transform: uppercase;
  border: 1px solid grey;
  font-size: 10px;
  padding: 5px 10px;
  background-color: rgb(223, 223, 217);
}

.padding{
  padding: 10px;
}

.radius-left{
  border-bottom-left-radius: 10px;
}

.radius-right{
  border-bottom-right-radius: 10px;
}

.color-1 td:nth-child(2n){
  background-color: lightgray
}

.color-1 td:nth-child(2n+1){
  background-color: rgb(199, 197, 197)
}
.color-2 td:nth-child(2n+1){
  background-color: lightgray;
}
.color-2 td:nth-child(2n){
  background-color: rgb(224, 223, 223)
}